*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    min-height: 100vh;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
}
#userName{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 300px;

}

input{
    text-align: center;
    padding: 10px;
    font-size: xx-large;
    border: none;
    outline: none;
    border-radius: 10px;
    border-color: transparent;
    box-shadow: 0 0 50px 10px rgb(227, 238,230);
}

.actionButton {
background-color: rgb(7, 133, 49);
color: #fff;
border: none;
padding: 15px 50px;
border-radius: 10px;
font-weight: 700;
font-size: 20px;
cursor: pointer;
transition: 0.3s ease;
}
.actionButton:hover{
    background-color: rgb(21, 221, 88);
}

.infoHeading {
    text-shadow: 0 0 10px #fff;
}
img{
    padding: 30px;
    width: 140px;
    height: 140px;
}
.dialWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    border: 1px solid #fff;
    padding: 50px;
    border-radius: 10px;
}
.incomingWrapper {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#localVideoDiv{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 50px;
}
#remoteVideoDiv{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#call{
    display: none;
}
#userInfo{
    display: none;
}
#answer{
    display: none;
}
#inCall{
    display: none;
}
#calling {
    display: none;
}
#videos{
    display: none;
}